#delete {
    background-color: #FFF;
    padding-left:0;
    border:0;
    width:20px;
    padding-right: 0;
}
#flag {
    background-color: #FFF;
    padding-left:0;
    border:0;
    padding-right:20px;
}

p{
	font-size: 18px;
	color: #534540;
	font-weight: 50;
}