
#delete {
    background-color: #FFF;
    padding-left:0;
    border:0;
    width:20px;
    padding-right: 0;
}
#flag {
    background-color: #FFF;
    padding-left:0;
    border:0;
    padding-right:20px;
}

p{
	font-size: 18px;
	color: #534540;
	font-weight: 50;
}

.commentScore{
	text-align: right;
}
.emojis {
  display: none; /* This is how it looks on mobile */
}

@media (min-width: 993px) {
  .emojis {
    display: block; /* This is how it looks on desktop */
  }
}

 .input-field input[type=text]:focus{
  border-bottom: 1px solid #79BED8;
  -webkit-box-shadow: 0 1px 0 0 #79BED8;
  -moz-box-shadow: 0 1px 0 0 #79BED8;
  box-shadow: 0 1px 0 0 #79BED8;

} 

.input-field input[type=text]:focus + label {
     color: #79BED8;
}