
.at-input input[type=email]:focus{
  border-bottom: 1px solid #79BED8;
  -webkit-box-shadow: 0 1px 0 0 #79BED8;
  -moz-box-shadow: 0 1px 0 0 #79BED8;
  box-shadow: 0 1px 0 0 #79BED8;

} 

.at-input input[type=password]:focus{
  border-bottom: 1px solid #79BED8;
  -webkit-box-shadow: 0 1px 0 0 #79BED8;
  -moz-box-shadow: 0 1px 0 0 #79BED8;
  box-shadow: 0 1px 0 0 #79BED8;

} 
