.map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
}
.emojis {
  display: none; /* This is how it looks on mobile */
}

@media (min-width: 600px) {
  .emojis {
    display: block; /* This is how it looks on desktop */
  }
}
